Data Source: https://data.world/datatouille/stephen-curry-stats

## Data Cleaning: convert to numerical values

In [25]:
import pandas as pd
import numpy as np

In [26]:
# Read csv and get info

filename = "stephcurry.csv"

df = pd.read_csv(filename)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Dates               878 non-null    object
 1   Opponent            878 non-null    object
 2   Score               878 non-null    object
 3   Minutes             878 non-null    int64
 4   Successful Shots    878 non-null    int64
 5   Total Shots         878 non-null    int64
 6   3 Points Succesful  878 non-null    int64
 7   Total 3 Points      878 non-null    int64
 8   Successful FT       878 non-null    int64
 9   Total FT            878 non-null    int64
 10  REB                 878 non-null    int64
 11  AST                 878 non-null    int64
 12  BLK                 878 non-null    int64
 13  STL                 878 non-null    int64
 14  PF                  878 non-null    int64
 15  TO                  878 non-null    int64
 16  PTS                 878 non-null    int64
 17  Type                837 non-null    object
 18  Result              878 non-null    object
 19  Score GS            878 non-null    int64
 20  Score Opponent      878 non-null    int64
dtypes: int64(16), object(5)
memory usage: 144.2+ KB

In [27]:
df1 = df.drop(df.columns[[0, 1, 2, 17, 19, 20]], axis=1) # Drop Dates, Opponent, Score, Type (Regular Season vs Conference), Score GS, Score Opponent

df1 = df1.dropna() #Drop na
df1

,Minutes,Successful Shots,Total Shots,3 Points Succesful,Total 3 Points,Successful FT,Total FT,REB,AST,BLK,STL,PF,TO,PTS,Result
0,36,7,12,0,1,0,0,2,7,0,4,2,2,14,L
1,39,5,9,2,3,0,0,2,4,0,1,5,3,12,L
2,28,3,6,1,2,0,0,5,9,0,2,4,1,7,W
3,22,1,5,0,1,3,4,1,3,0,0,6,0,5,L
4,31,4,8,1,2,0,2,4,6,0,0,4,5,9,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,30,11,18,6,13,1,2,4,8,0,2,0,3,29,W
874,32,15,24,11,16,10,10,4,3,1,0,1,2,51,W
875,33,10,18,6,11,3,3,4,2,0,1,2,3,29,W
876,36,11,26,7,15,6,7,7,3,0,1,1,2,35,W
877,25,7,9,2,4,7,7,8,5,1,3,3,1,23,W

In [28]:
# Convert L to 0, W to 1
    
df1['Result'].replace({ 'L' : 0, "W" : 1}, inplace=True)
df1

,Minutes,Successful Shots,Total Shots,3 Points Succesful,Total 3 Points,Successful FT,Total FT,REB,AST,BLK,STL,PF,TO,PTS,Result
0,36,7,12,0,1,0,0,2,7,0,4,2,2,14,0
1,39,5,9,2,3,0,0,2,4,0,1,5,3,12,0
2,28,3,6,1,2,0,0,5,9,0,2,4,1,7,1
3,22,1,5,0,1,3,4,1,3,0,0,6,0,5,0
4,31,4,8,1,2,0,2,4,6,0,0,4,5,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,30,11,18,6,13,1,2,4,8,0,2,0,3,29,1
874,32,15,24,11,16,10,10,4,3,1,0,1,2,51,1
875,33,10,18,6,11,3,3,4,2,0,1,2,3,29,1
876,36,11,26,7,15,6,7,7,3,0,1,1,2,35,1
877,25,7,9,2,4,7,7,8,5,1,3,3,1,23,1

In [29]:
# Tidy!
df1.to_csv("cleaned_stephcurry.csv")